{
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "semi": false,
  "importOrder": [
    "^react$",
    "^next(/.+)?$",
    "<THIRD_PARTY_MODULES>",
    "^@centrito/db(/.+)?$",
    "^@centrito/api(/.+)?$",
    "^@centrito/common(/.+)?",
    "^@centrito(/.+)?$",
    "^@/utils(/.+)?$",
    "^@/store(/.+)?$",
    "^@/components(/.+)?$",
    "^@/.+$",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators"],
  "importOrderSortSpecifiers": true
}
